<%- include('partials/header') %>
<<<<<<< HEAD

 <div id ="ml" class=" container-fluid  rounded">
    <header id="header" class="container-fluid py-3  text-light text-center">
        <h1>Your Subjects</h1>
=======
    <title>Subjects</title>
</head>
<body>
    <header class="container-sm mt-3 px-0 py-1 --bs-dark-border-stuble text-light text-center rounded">
        <h1>Subjects</h1>
>>>>>>> c4ba06e11927f3fdbd97e479bf5ddbb41d2cf962
    </header>
 </div>

    <main class="container my-4">
        <form action="/subjects/add" method="POST" class="mb-4">
            <input type="text" name="name" placeholder="Add New Subject" class="form-control" required>
            <button type="submit" class="btn btn-success mt-3">Add Subject</button>
        </form>

        <h2>Your Subjects List:</h2>
        <ul class="list-group">
            <% subjects.forEach(subject => { %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <strong><%= subject.name %></strong>
                    <a href="/subjects/<%= subject._id %>" class="btn btn-info btn-sm">View Chapters</a>
                </li>
            <% }) %>
        </ul>
    </main>
<<<<<<< HEAD
    <%- include('partials/footer') %>
=======
  <%- include('partials/footer') %>
>>>>>>> c4ba06e11927f3fdbd97e479bf5ddbb41d2cf962
